# see http://editorconfig.org/#file-format-details

# stop searching for other .editorconfig's when reaching this file
root = true

[*]
# indent every filetype with spaces
indent_style = space

# number of columns used for each indentation level
indent_size = 4

# use linefeed as the default line break
end_of_line = lf

# default character set for every file is utf-8
charset = utf-8

# always remove trailing whitespaces for every filetype
trim_trailing_whitespace = true

# ensure file ends with a newline when saving
insert_final_newline = true

[*.md]
# indent Markdown files by 2 spaces
indent_size = 2

# unset the trimming of trailing whitespaces
trim_trailing_whitespace = false

[*.json]
# ident files of type JSON by 2 spaces
# see https://docs.npmjs.com/misc/coding-style#indentation
indent_size = 2

[{Makefile,**.mk}]
# use tabs for indentation (Makefiles require tabs)
indent_style = tab

[{.gitconfig}]
indent_style = tab
